.create-post-container{
    display: flex;
   flex-direction: column;
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 2%;
   border-radius: 15px;
   background-color: #e0e0e0;
   padding: 1% 2% 1% 1%;
   margin-bottom: 2%;
   overflow: hidden;
   text-align: center;
}

.create-post-form{
    width: 100%;
    height: 100%;
}

.create-post-title-input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 1%;
    border: 2px solid black;
}

.create-post-title-input::placeholder{
    font-size: 100%;
    font-weight: bold;
}
.create-post-title-input:hover{
    border:2px solid rgb(70, 70, 70);
}

.create-post-empty-title-imput{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 1%;
    border: 2px solid red;
}

.create-post-empty-title-imput::placeholder{
    font-size: 100%;
    font-weight: bold;
    color: red;
}

.create-post-content{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    padding-left: 1%;
    resize:none;
    margin-bottom: 3%;
    margin-top: 3%;
}

.create-post-content:hover{
    border:2px solid rgb(70, 70, 70);
}

.create-post-button{
    width: 50%;
    height: 40px;
    font-size: 20px;
    overflow: hidden;
}

.create-post-button:hover{
    cursor: pointer;
}