.like-post-container{
    width: 50%;
}

.like-post-button-container{
    border-radius: 7px;
    margin-bottom: 2%;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
}

.like-post-button-container:hover{
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.like-post-liked-icon{
    width: 25px;
    padding-right: 1%;
}

.like-post-label{
    font-size: 130%;
    font-weight: bold;
    color: rgb(90, 90, 90);
    padding-left: 2%;
}

.like-post-label:hover{
    cursor: pointer;
}