.drowdown-container{
    position:absolute; 
    z-index: 1; 
    background-color: white; 
    border: 2px solid #ccc; 
    width: 19%;
    height: 32%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20%;
    padding-bottom: 0.5%;
}

.likes-dropdown{
    overflow: auto;
}

.dropdown-menu{
    border-bottom: 1px solid rgb(100, 100, 100);
    width: 96%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.close-likes{
    float: right;
    color: rgb(100, 100, 100);
}

.close-likes:hover{
    cursor: pointer;
}

.liked-user-container{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
}

.liked-user-container:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}

.liked-user-name{
    padding-top: 3%;
    padding-left: 3%;
}

.liked-user-name:hover{
    cursor: pointer;
}

.liked-user-pic{
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    width: 25px; 
    border-radius: 15px;
}