.post-likes-drowdown-container{
    position:absolute; 
    z-index: 1; 
    background-color: white; 
    border: 2px solid #ccc; 
    width: 19%;
    height: 32%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20%;
    padding-bottom: 0.5%;
}

.post-likes-dropdown-menu{
    border-bottom: 1px solid rgb(100, 100, 100);
    width: 96%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.post-likes-close-menu{
    float: right;
    color: rgb(100, 100, 100);
}

.post-likes-close-menu:hover{
    cursor: pointer;
}

.post-likes-likes-dropdown{
    overflow: auto;
}

.post-likes-likes-dropdown-user{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 10px;
    height: 45px;
}

.post-likes-likes-dropdown-user:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}