.post-container{
    display: flex;
   flex-direction: column;
   border-radius: 15px;
   background-color: #e0e0e0;
   padding: 2% 2% 2% 2%;
   overflow: hidden;
   word-wrap: break-word;
   padding-bottom: 0;
   margin-bottom: 5%;
}

.post-buttons{
    display: flex;
    height: 45px;
}