.post-container{
    display: flex;
   flex-direction: column;
   border-radius: 15px;
   background-color: #e0e0e0;
   padding: 2% 2% 2% 2%;
   overflow: hidden;
   word-wrap: break-word;
   padding-bottom: 0;
}

.post-profile-pic{
    width: 45px;
    border-radius: 15px;
    height: 45px;
}

.post-profile-pic:hover{
    cursor: pointer;
}

.post-profile{
    display: flex;
}

.post-profile-information{
    display: flex;
    flex-direction: column;
}

.post-user-name{
    font-size: 15px;
    margin-top: 0;
    margin-left: 10px;
}

.post-user-name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.post-date{
    font-size: 12px;
    margin-left: 10px;
    padding-top: 0;
    color: rgb(67, 67, 67);
}

.post-date:hover{
    cursor: text;
}

.post-buttons{
    display: flex;
    height: 45px;
}

.post-buttons-border{
    border-top: 1px solid rgb(150, 150, 150);
    margin-bottom: 1%;
}

.post-information{
    display: flex;
}

.post-user-container{
    display: flex;
}