.likes-icon{
    width: 15px;
    margin-right: 5px;
}

.number-of-likes{
    color: rgb(67, 67, 67)
}

.number-of-likes:hover{
    cursor: pointer;
}

.view-likes-container:hover{
    cursor: pointer;
    text-decoration: underline;
}

.view-likes-container{
    margin-bottom: 5px;
    width: max-content;
}

