.navbar-dropdown-container{
    align-items: center;
    margin-left: auto;
}

.dropdown-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 5px;
    border-radius: 15px;
    overflow: hidden;
}

.dropdown-icon-container:hover{
    cursor: pointer;
}

.navbar-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1; 
    background-color: white; 
    border: 1px solid #ccc; 
    width: 200px;
    height: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.navbar-dropdown-profile-picture-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.navbar-dropdown-button{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.navbar-dropdown-button:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

.navbar-dropdown-button-icon{
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.link {
    text-decoration: none; 
    color: black; 
}