.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(150, 150, 150);
    width: 98%;
    margin-left: 14px;
    position: fixed;
    display: flex;
    background-color: #f0f0f0;
    z-index: 1;
    height: 55px;
}

.navbar-logo-image{
    width: 60px;
    height: 60px;
}

.navbar-logo-header{
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1080px) {
  .navbar-logo-header{
    display: none;
  }
}

.logo{
    position: relative;
    display: flex;
    width: max-content;
    border-radius: 60px;
}

.logo:hover{
    cursor: pointer;
}




  

 