.navbar-container{
  border-right: 1px solid rgb(100, 100, 100);
  width: 200px;
  position: fixed;
  margin-top: 70px;
  height: 89%;
  display: flex;
  flex-direction: column;
}

.navbar-bottom-buttons{
  margin-top: auto;
  margin-bottom: 10%;
}

@media (max-width: 1080px) {
  .navbar-container{
    display: none;
  }
}
