.form-container-login{
    border: 2px solid rgb(200, 200, 200);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    width: 30%;
    height: 580px;
    margin: 0 auto; 
}

.form-container-login:hover{
    border: 2px solid rgb(180, 180, 180);
}

.login-form{
    margin-bottom: 10px;
    text-align: center;
    margin-top: 29%;
}

.form-field-login{
    
    width: 65%;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-field-login:hover{
    border-color: black;
}

.form-success-login{
    display: block;
    color: green; 
    font-size: 1em;
    height: 1.5em;
}

.form-button-login{
    width: 67%;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 20px;
}

.form-button-login:hover{
    cursor: pointer;
}

.form-button-login:active{
    cursor: pointer;
    width: 300px;
    height: 33px;
}

.error-label-login{
    display: block;
    height: 1.5em;
    color: red;
}

.signUp-button{
    color: #007bff;
}

.signUp-button:hover{
    cursor: pointer;
}
