.edit-name-container{
    margin-left: 2%;
    margin-right: 2%;
    width: 94%;
}

.change-name-border{
    border-top: 1px solid rgb(150, 150, 150);
}

.change-name-label-container{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 7px;
    padding: 1% 1% 2% 1%;
}

.edit-name-dropdown-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-name-dropdown-label{
    color: rgb(50, 50, 50);
}

.edit-name-dropdown-label:hover{
    cursor: text;
}

.edit-name-dropdown-input{
    height: 40px;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 20px;
    width: 98%;
    padding-left: 2%;
}

.edit-name-dropdown-name-empty-input{
    height: 40px;
    border-radius: 7px;
    border: 2px solid red;
    font-size: 20px;
    width: 98%;
    padding-left: 2%;
}

.edit-name-dropdown-name-empty-input::placeholder{
    color: red;
}

.edit-name-dropdown-button{
    height: 40px;
    width: 40%;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.edit-name-dropdown-button:hover{
    cursor: pointer;
}