.edit-password-container{
    margin-left: 2%;
    margin-right: 2%;
    width: 94%;
}

.change-password-border{
    border-top: 1px solid rgb(150, 150, 150);
}

.edit-password-dropdown-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-password-dropdown-label{
    color: rgb(50, 50, 50);
}

.edit-password-dropdown-label:hover{
    cursor: text;
}

.edit-password-dropdown-input{
    height: 40px;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 20px;
    width: 98%;
    padding-left: 2%;
}

.edit-password-dropdown-empty-input{
    height: 40px;
    border-radius: 7px;
    border: 2px solid red;
    font-size: 20px;
    width: 98%;
    padding-left: 2%;
}

.edit-password-dropdown-empty-input::placeholder{
    color: red;
}

.edit-password-dropdown-button{
    height: 40px;
    width: 40%;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.edit-password-dropdown-button:hover{
    cursor: pointer;
}
