.edit-profile-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 30%;  
    margin-top: 95px;
    width: 40%;
    border-radius: 15px;
    background-color: #e0e0e0;
    align-items: center;
}

.edit-profile-success-message{
    display: block;
    height: 1.5em;
    color: green;
}

.edit-profile-success-message:hover{
    cursor: text;
}

.edit-profile-error-message{
    display: block;
    height: 1.5em;
    color: red;
}

.edit-profile-error-message:hover{
    cursor: text;
}