.edit-password-container{
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 94%;
}

.change-password-border{
    border-top: 1px solid rgb(150, 150, 150);
}

.change-password-label-container{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 7px;
    padding: 1% 1% 2% 1%;
}

.change-password-label-container-selected{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 7px;
    padding: 1% 1% 2% 1%;
    background-color: rgb(200, 200, 200);
}

.change-password-label-container-selected:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.change-password-label-container:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.change-password-label{
    font-size: 25px;
    user-select: none;
    margin-left: 1%;
}

.change-password-label:hover{
    cursor: pointer;
}

.greater-than-symbol{
    font-size: 15px;
    margin-left: auto;
    margin-top: 9px;
    margin-right: 1%;
    user-select: none;
}

.greater-than-symbol:hover{
    cursor: pointer;
}

.edit-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-input{
    height: 40px;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 20px;
    width: 98%;
    padding-left: 2%;
}

.empty-password-input{
    height: 40px;
    border-radius: 7px;
    border: 2px solid red;
    font-size: 20px;
    width: 98%;
    padding-left: 2%;
}

.empty-password-input::placeholder{
    color: red;
}

.label-password{
    color: rgb(50, 50, 50);
}

.label-password:hover{
    cursor: text;
}

.edit-password-button{
    height: 40px;
    width: 40%;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.edit-password-button:hover{
    cursor: pointer;
}
