.edit-gender-container{
    margin-left: 2%;
    margin-right: 2%;
    width: 94%;
    margin-bottom: 4%;
}

.change-gender-border{
    border-top: 1px solid rgb(150, 150, 150);
}

.edit-gender-dropdown-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-gender-dropdown-label{
    color: rgb(50, 50, 50);
}

.edit-gender-dropdown-label:hover{
    cursor: text;
}

.edit-gender-dropdown-select-gender{
    height: 45px;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 20px;
    width: 100%;
    padding-left: 2%;
}

.edit-gender-dropdown-select-gender:hover{
    cursor: pointer;
}

.edit-gender-dropdown-select-empty-gender{
    height: 45px;
    border-radius: 7px;
    border: 2px solid red;
    font-size: 20px;
    width: 100%;
    padding-left: 2%;
}

.edit-gender-dropdown-select-empty-gender:hover{
    cursor: pointer;
}

.edit-gender-dropdown-button{
    height: 40px;
    width: 40%;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.edit-gender-dropdown-button:hover{
    cursor: pointer;
}