.information-container{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #e0e0e0;
    padding: 2% 2% 2% 2%;
    margin-bottom: 2%;
    overflow: hidden;
}