.user-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.user-container:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}

.user-picture-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px; 
    height: 35px;
    margin: 2% 2% 2% 2%;
    border-radius: 12px;
    overflow: hidden;
}

.user-name{
    padding-left: 3%;
}

.user-name:hover{
    cursor: pointer;
}