.user-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.user-picture-container{
    height: 70%;
    aspect-ratio: 1 / 1;
    margin-left: 4%;
    border-radius: 30%;
    overflow: hidden;
    flex-shrink: 0;
}

.user-name{
    padding-left: 3%;
    font-size: 120%;
}

.user-name:hover{
    cursor: pointer;
    text-decoration: underline;
}