.comment-profile-container{
    display: flex;
    flex-direction: row;
}

.comment-profile-picture-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-right: 11px;
    overflow: hidden;
}

.comment-profile-information{
    display: flex;
    flex-direction: column;
}

.comment-profile-name{
    font-size: 15px;
    font-weight: bold;
}

.comment-profile-name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.comment-profile-comment-date{
    font-size: 12px;
    color: rgb(67, 67, 67);
}

.comment-profile-comment-date:hover{ 
    cursor: text;
}