.comment-likes-drowdown-container{
    position:absolute; 
    z-index: 0; 
    background-color: white; 
    border: 2px solid #ccc; 
    width: 270px;
    height: 225px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20%;
    padding-bottom: 0.5%;
    margin-left: 50px;
    transform: translate(0 ,-255px);
    right: 0;
    margin-right: 50px;
}

.comment-likes-dropdown-menu{
    border-bottom: 1px solid rgb(100, 100, 100);
    width: 96%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.comment-likes-close-menu{
    float: right;
    color: rgb(100, 100, 100);
}

.comment-likes-close-menu:hover{
    cursor: pointer;
}

.comment-likes-dropdown{
    overflow: auto;
}