.like-comment-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.like-comment-container:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: normal;
}

.like-comment-like-icon{
    width: 15px;
}

.like-comment-liked{
    color: rgb(90, 90, 90);
    padding-left: 10%;
    font-weight: bold; 
}

.like-comment-liked:hover{
    cursor: pointer;
}


.like-comment-not-liked{
    color: rgb(70, 70, 70);
    padding-left: 10%;
}


.like-comment-not-liked:hover{
    cursor: pointer;
}