.like-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.like-comment:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: normal;
}

.like-icon{
    width: 15px;
}

.liked{
    color: rgb(90, 90, 90);
    padding-left: 10%;
    font-weight: bold; 
}

.notLiked{
    color: rgb(70, 70, 70);
    padding-left: 10%;
}

.liked:hover{
    cursor: pointer;
}

.notLiked:hover{
    cursor: pointer;
}