.reply-comment{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.reply-comment:hover{
    cursor: pointer;
    text-decoration: underline;
}

.reply-comment-icon{
    width: 15px;
}

.reply-text{
    padding-left: 10%;
    color: rgb(70, 70, 70);
}

.reply-clicked-text{
    padding-left: 10%;
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.reply-text:hover{
    cursor: pointer;
}

.reply-clicked-text:hover{
    cursor: pointer;
}