.view-comment-likes-container{
    margin-left: auto;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.view-comment-likes-container:hover{
    cursor: pointer;
    text-decoration: underline;
}

.view-comment-likes-like-icon{
    width: 15px;
}

.view-comment-likes-number{
    margin-left: 5px;
}

.view-comment-likes-number:hover{
    cursor: pointer;
    text-decoration: underline;
}