.friends-header-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    text-align: center;
    width: 100%;
}

.friends-header-text{
    user-select: none;  
    font-size: 250%; 
    color: rgb(70, 70, 70);    
}

@media (max-width: 1080px) {
    .friends-header-container{
      display: none;
    }
  }