.friends-container{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friends-search-bar-container{
    padding-left: 20%;
    padding-right: 20%;
}

.friends-no-results{
    font-size: 150%; 
    color: rgb(70, 70, 70); 
}

.friends-no-results:hover{
    cursor: text;
}