.group-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 0;
    margin-left: 25%;
    margin-right: 25%;
    height: 330px;
    padding-top: 70px;
}

.group-profile-profile-picture-container{
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 5px;
    width: 80%;
    height: 80%;
    
}

.group-profile-name{
    font-size: 25px;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.group-profile-name:hover{
    cursor: text;
}