.other-groups-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}
.other-groups-label{
    font-size: 130%;
    font-weight: bold;
    color: rgb(90, 90, 90);
    width: 100%;
    text-align: center;
}

.other-groups-label:hover{
    cursor: text;
}

.other-groups-border{
    margin-top: 1%;
    border-top: 1px solid black;
    width: 125%;
}