.comment-profile{
    display: flex;
    flex-direction: row;
}
.comment-profile-name{
    font-size: 15px;
    font-weight: bold;
}

.comment-profile-name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.comment-profile-pic{
    width: 40px;
    border-radius: 15px;
    margin-right: 11px;
}

.comment-profile-pic:hover{
    cursor: pointer;
}

.comment-content{
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 1%;
    background-color: rgb(205, 205, 205);
    border-radius:10px;
    padding: 1% 1% 2% 2%;
}

.comment-date{
    margin-left: auto;
    font-size: 12px;
    color: rgb(67, 67, 67);
}

.comment-date:hover{ 
    cursor: text;
}

.like-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.like-comment:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: normal;
}

.liked{
    color: rgb(90, 90, 90);
    padding-left: 10%;
    font-weight: bold; 
}

.notLiked{
    color: rgb(70, 70, 70);
    padding-left: 10%;
}

.liked:hover{
    cursor: pointer;
}

.notLiked:hover{
    cursor: pointer;
}

.like-icon{
    width: 15px;
}

.comment-buttons-border{
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.comment-tools{
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-right: 51px;
    margin-left: 51px;
}

.show-comment-likes{
    margin-left: auto;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.show-comment-likes:hover{
    cursor: pointer;
    text-decoration: underline;
}

.comment-likes-number{
    margin-left: 5px;
}

.comment-likes-number:hover{
    cursor: pointer;
    text-decoration: underline;
}

.comment-likes-dropdown{
    overflow: auto;
}

.comment-likes-container{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
}

.comment-likes-container:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}


.user-like-name{
    padding-top: 3%;
    padding-left: 3%;
}

.user-like-name:hover{
    cursor: pointer;
}

.user-like-pic{
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    width: 25px; 
    border-radius: 15px;
}

.comment-likes-drowdown-container{
    position:absolute; 
    z-index: 1; 
    background-color: white; 
    border: 2px solid #ccc; 
    width: 19%;
    height: 29%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20%;
    padding-bottom: 0.5%;
    margin-left: 3%;
}

.reply-comment{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.reply-comment:hover{
    cursor: pointer;
    text-decoration: underline;
}

.reply-comment-icon{
    width: 15px;
}

.reply-text{
    padding-left: 10%;
    color: rgb(70, 70, 70);
}

.reply-clicked-text{
    padding-left: 10%;
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.reply-text:hover{
    cursor: pointer;
}

.reply-clicked-text:hover{
    cursor: pointer;
}

.reply-comment-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-top: 1%;
    margin-right: 50px;
}

.view-replies{
    margin-left: 50px;
    margin-top: 1%;
}