.comment-profile{
    display: flex;
    flex-direction: row;
}
.comment-profile-name{
    font-size: 15px;
    font-weight: bold;
}

.comment-profile-name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.comment-profile-pic{
    width: 40px;
    border-radius: 15px;
    margin-right: 2%;
}

.comment-profile-pic:hover{
    cursor: pointer;
}

.comment-content{
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.view-comment-container{
    margin-bottom:5%;
}

.comment-date{
    margin-left: auto;
    font-size: 12px;
    color: rgb(67, 67, 67);
}

.comment-date:hover{
    cursor: text;
}


